.emLogo path:last-child {
  fill: #333
}

html[class~=dark] .emLogo path:last-child {
  fill: #fff
}

.separator {
  color: rgba(0,0,0,.2)
}

html[class~=dark] .separator {
  color: rgba(255,255,255,.4)
}

.text {
  font-weight: 700;
  margin-left: 0.2rem;
  font-size: 18px;
  color: #334155;
  text-transform: uppercase;
}

html[class~=dark] .text {  color: #eee
}